# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
using DataFrames
using CSV
using Downloads
using Dates

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [ ]:
file = Downloads.download("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user")

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [3]:
users = CSV.read(file, DataFrame, delim="|")

943×5 DataFrame
 Row │ user_id  age    gender   occupation     zip_code
     │ Int64    Int64  String1  String15       String7
─────┼──────────────────────────────────────────────────
   1 │       1     24  M        technician     85711
   2 │       2     53  F        other          94043
   3 │       3     23  M        writer         32067
   4 │       4     24  M        technician     43537
   5 │       5     33  F        other          15213
   6 │       6     42  M        executive      98101
   7 │       7     57  M        administrator  91344
   8 │       8     36  M        administrator  05201
  ⋮  │    ⋮       ⋮       ⋮           ⋮           ⋮
 937 │     937     48  M        educator       98072
 938 │     938     38  F        technician     55038
 939 │     939     26  F        student        33319
 940 │     940     32  M        administrator  02215
 941 │     941     20  M        student        97229
 942 │     942     48  F        librarian      78209
 943 │     943     22  M        student        77841
                                        928 rows omitted

### Step 4. See the first 25 entries

In [4]:
first(users, 3)

3×5 DataFrame
 Row │ user_id  age    gender   occupation  zip_code
     │ Int64    Int64  String1  String15    String7
─────┼───────────────────────────────────────────────
   1 │       1     24  M        technician  85711
   2 │       2     53  F        other       94043
   3 │       3     23  M        writer      32067

### Step 5. See the last 10 entries

In [5]:
last(users, 3)

3×5 DataFrame
 Row │ user_id  age    gender   occupation  zip_code
     │ Int64    Int64  String1  String15    String7
─────┼───────────────────────────────────────────────
   1 │     941     20  M        student     97229
   2 │     942     48  F        librarian   78209
   3 │     943     22  M        student     77841

### Step 6. What is the number of observations in the dataset?

In [6]:
size(users, 1)

943

### Step 7. What is the number of columns in the dataset?

In [7]:
size(users, 2)

5

### Step 8. Print the name of all the columns.

In [8]:
names(users)

5-element Vector{String}:
 "user_id"
 "age"
 "gender"
 "occupation"
 "zip_code"

### Step 9. What is the data type of each column?

In [9]:
eltype.(eachcol(users))

5-element Vector{DataType}:
 Int64
 Int64
 String1
 String15
 String7

### Step 10. Print only the occupation column

In [10]:
users[!, :occupation]

943-element PooledArrays.PooledVector{String15, UInt32, Vector{UInt32}}:
 "technician"
 "other"
 "writer"
 "technician"
 "other"
 "executive"
 "administrator"
 "administrator"
 "student"
 "lawyer"
 ⋮
 "doctor"
 "other"
 "educator"
 "technician"
 "student"
 "administrator"
 "student"
 "librarian"
 "student"

### Step 11. How many different occupations are in this dataset?

In [13]:
length(unique(users[!, :occupation]))

21

### Step 12. What is the most frequent occupation?

In [13]:
value_count(df::DataFrame, col) = sort(combine(groupby(df, col), nrow), :nrow, rev=true)
value_count(users, :occupation)[1, :]

DataFrameRow
 Row │ occupation  nrow
     │ String15    Int64
─────┼───────────────────
   1 │ student       196

### Step 13. Summarize the DataFrame.

In [23]:
describe(users)

5×7 DataFrame
 Row │ variable    mean    min            median  max     nmissing  eltype
     │ Symbol      Union…  Any            Union…  Any     Int64     DataType
─────┼───────────────────────────────────────────────────────────────────────
   1 │ user_id     472.0   1              472.0   943            0  Int64
   2 │ age         34.052  7              31.0    73             0  Int64
   3 │ gender              F                      M              0  String1
   4 │ occupation          administrator          writer         0  String15
   5 │ zip_code            00000                  Y1A6B          0  String7

### Step 14. Summarize only the occupation column

In [25]:
describe(users, cols=:occupation)

1×7 DataFrame
 Row │ variable    mean     min            median   max       nmissing  eltype ⋯
     │ Symbol      Nothing  String15       Nothing  String15  Int64     DataTy ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ occupation           administrator           writer           0  String ⋯
                                                                1 column omitted

### Step 15. What is the mean age of users?

In [28]:
using Statistics

mean(users[!, :age])

34.05196182396607

### Step 16. What is the age with least occurrence?

In [15]:
value_count(users, :age)[end:-1:end-5, :]

6×2 DataFrame
 Row │ age    nrow
     │ Int64  Int64
─────┼──────────────
   1 │    73      1
   2 │    66      1
   3 │    11      1
   4 │    10      1
   5 │     7      1
   6 │    69      2