# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
using CSV
using DataFrames
using Dates
using Statistics
using Random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
col1 = rand(1:4, 100)
col2 = rand(1:3, 100)
col3 = rand(10000:30000, 100);

### Step 3. Let's create a DataFrame with bedrs = col1, bathrs = col2, and price_sqr_meter = col3

In [3]:
df = DataFrame(
    Dict(
        "bedrs" => col1,
        "bathrs" => col2,
        "price_sqr_meter" => col3
    )
)

100×3 DataFrame
 Row │ bathrs  bedrs  price_sqr_meter
     │ Int64   Int64  Int64
─────┼────────────────────────────────
   1 │      1      3            21035
   2 │      3      3            10338
   3 │      1      1            13565
   4 │      2      2            28619
   5 │      3      3            23072
   6 │      3      3            11748
   7 │      1      3            24346
   8 │      2      4            27391
  ⋮  │   ⋮       ⋮           ⋮
  94 │      3      2            14563
  95 │      2      1            23360
  96 │      3      2            23457
  97 │      1      3            20618
  98 │      2      3            28664
  99 │      1      3            23573
 100 │      3      3            17750
                       85 rows omitted

### Step 4. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [4]:
bigcolumn = DataFrame("bigcolumns" => vcat(col1, col2, col3))

300-element Vector{Int64}:
     3
     3
     1
     2
     3
     3
     3
     4
     1
     1
     ⋮
 27940
 29116
 14563
 23360
 23457
 20618
 28664
 23573
 17750