# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

### Step 3. Let's create a DataFrame with bedrs = col1, bathrs = col2, and price_sqr_meter = col3

100×3 DataFrame
 Row │ bathrs  bedrs  price_sqr_meter
     │ Int64   Int64  Int64
─────┼────────────────────────────────
   1 │      1      1            17710
   2 │      3      4            21515
   3 │      1      1            10897
   4 │      2      2            17116
   5 │      2      1            15311
   6 │      3      4            23699
   7 │      3      1            14828
   8 │      3      3            25160
  ⋮  │   ⋮       ⋮           ⋮
  94 │      1      3            29171
  95 │      2      1            16322
  96 │      3      2            27825
  97 │      2      1            24251
  98 │      2      1            11128
  99 │      1      3            16519
 100 │      2      2            22058
                       85 rows omitted

### Step 4. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

300×1 DataFrame
 Row │ bigcolumns
     │ Int64
─────┼────────────
   1 │          1
   2 │          4
   3 │          1
   4 │          2
   5 │          1
   6 │          4
   7 │          1
   8 │          3
  ⋮  │     ⋮
 294 │      29171
 295 │      16322
 296 │      27825
 297 │      24251
 298 │      11128
 299 │      16519
 300 │      22058
  285 rows omitted