# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
using CSV
using DataFrames
using Statistics
using Downloads
using Dates

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [3]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"
file = Downloads.download(url)
df = CSV.read(file, DataFrame);

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [6]:
df = df[:, 1:12]
first(df, 3)

3×12 DataFrame
 Row │ school   sex      age    address  famsize  Pstatus  Medu   Fedu   Mjob  ⋯
     │ String3  String1  Int64  String1  String3  String1  Int64  Int64  Strin ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ GP       F           18  U        GT3      A            4      4  at_ho ⋯
   2 │ GP       F           17  U        GT3      T            1      1  at_ho
   3 │ GP       F           15  U        LE3      T            1      1  at_ho
                                                               4 columns omitted

### Step 5. Capitalize both Mjob and Fjob

In [7]:
df[!, :Mjob] = uppercasefirst.(df[!, :Mjob])
df[!, :Fjob] = uppercasefirst.(df[!, :Fjob])

first(df[!, [:Mjob, :Fjob]], 3)

3×2 DataFrame
 Row │ Mjob     Fjob
     │ String   String
─────┼──────────────────
   1 │ At_home  Teacher
   2 │ At_home  Other
   3 │ At_home  Other

### Step 6. Print the last elements of the data set.

In [8]:
df[end, :]

DataFrameRow
 Row │ school   sex      age    address  famsize  Pstatus  Medu   Fedu   Mjob  ⋯
     │ String3  String1  Int64  String1  String3  String1  Int64  Int64  Strin ⋯
─────┼──────────────────────────────────────────────────────────────────────────
 395 │ MS       M           19  U        LE3      T            1      1  Other ⋯
                                                               4 columns omitted

### Step 7. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [10]:
function is_legal_drinker(x)
    x > 17 ? true : false
end

transform!(df, :age => ByRow(x -> is_legal_drinker(x)) => :legal_drinker)
first(df, 3)

3×13 DataFrame
 Row │ school   sex      age    address  famsize  Pstatus  Medu   Fedu   Mjob  ⋯
     │ String3  String1  Int64  String1  String3  String1  Int64  Int64  Strin ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ GP       F           18  U        GT3      A            4      4  At_ho ⋯
   2 │ GP       F           17  U        GT3      T            1      1  At_ho
   3 │ GP       F           15  U        LE3      T            1      1  At_ho
                                                               5 columns omitted

### Step 8. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [26]:
number_columns = [name for name in names(df) if eltype(df[!, name]) <: Number]
df_number_columns = select(df, number_columns);

In [27]:
for col in names(df_number_columns)
    df_number_columns[!, col] = df_number_columns[!, col] * 10
end

In [28]:
first(df_number_columns, 3)

3×4 DataFrame
 Row │ age    Medu   Fedu   legal_drinker
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────────────
   1 │   180     40     40             10
   2 │   170     10     10              0
   3 │   150     10     10              0