# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

3×9 DataFrame
 Row │ Date        Total Equity  Domestic Equity  World Equity  Hybrid  Total  ⋯
     │ Date        Int64         Int64            Int64         Int64   Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 2012-12-05         -7426            -6060         -1367     -74         ⋯
   2 │ 2012-12-12         -8783            -7520         -1263     123
   3 │ 2012-12-19         -5496            -5470           -26     -73
                                                               4 columns omitted

### Step 4.  What is the frequency of the dataset?

### Step 5. What is the type of the index?

Date

### Step 6. Set the index to a DatetimeIndex type

### Step 7.  Change the frequency to monthly, sum the values and assign it to monthly.

### Step 8. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

false
false
false
false
false
false
false
false
false

### Step 9. Good, now we have the monthly data. Now change the frequency to year.

4×9 DataFrame
 Row │ Year   Total Equity_sum  Domestic Equity_sum  World Equity_sum  Hybrid_ ⋯
     │ Int64  Int64             Int64                Int64             Int64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │  2012            -26156               -23126             -3031          ⋯
   2 │  2013              3661                -1627              5288        2
   3 │  2014               330               -44689             45021       19
   4 │  2015             15049               -10459             25508        7
                                                               5 columns omitted

### BONUS: Create your own question and answer it.