# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [3]:
using CSV
using DataFrames
using Plots
using Statistics
using Dates

### Step 2. Create a data dictionary that looks like the DataFrame below

In [4]:
df = DataFrame(
    "evolution" => ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp" => [45, 39, 44, 45],
    "name" => ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex" => ["yes", "no", "yes", "no"],
    "type" => ["grass", "fire", "water", "bug"]
);

### Step 3. Assign it to a variable called pokemon

In [5]:
pokemon = deepcopy(df)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [5]:
df = df[!, ["name", "type", "hp", "evolution", "pokedex"]];

### Step 5. Add another column called place, and insert what you have in mind.

In [6]:
df[!, "place"] = ["Medan", "Tembung", "Del", "Hp"];

### Step 6. Present the type of each column

In [7]:
eltype.(eachcol(df))

6-element Vector{DataType}:
 String
 String
 Int64
 String
 String
 String

### BONUS: Create your own question and answer it.