# Exercise 1

In [1]:
using CSV
using Downloads
using Dates
using Statistics
using DataFrames

### Step 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

### Step 2. Download the dataset to your computer and unzip it.

### Step 3. Use the tsv file and assign it to a dataframe called food

In [ ]:
path = "en.openfoodfacts.org.products.tsv"
food = CSV.read(path, DataFrame)

### Step 4. See the first 5 entries

In [5]:
first(food, 5);

### Step 5. What is the number of observations in the dataset?

In [6]:
size(food, 1)

356027

### Step 6. What is the number of columns in the dataset?

In [7]:
size(food, 2)

163

### Step 7. Print the name of all the columns.

In [8]:
names(food)

163-element Vector{String}:
 "code"
 "url"
 "creator"
 "created_t"
 "created_datetime"
 "last_modified_t"
 "last_modified_datetime"
 "product_name"
 "generic_name"
 "quantity"
 â‹®
 "fruits-vegetables-nuts-estimate_100g"
 "collagen-meat-protein-ratio_100g"
 "cocoa_100g"
 "chlorophyl_100g"
 "carbon-footprint_100g"
 "nutrition-score-fr_100g"
 "nutrition-score-uk_100g"
 "glycemic-index_100g"
 "water-hardness_100g"

### Step 8. What is the name of 105th column?

In [9]:
names(food)[105]

"-glucose_100g"

### Step 9. What is the type of the observations of the 105th column?

In [10]:
eltype(food[!, 105])

Union{Missing, Float64}

### Step 10. What is the product name of the 19th observation?

In [13]:
food[19, :product_name]

"Lotus Organic Brown Jasmine Rice"