# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [8]:
using CSV
using Dates
using Downloads
using DataFrames
using Statistics

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called df

and create columns for the dataset
1. sepal_length (in cm)
2. sepal_width (in cm)
3. petal_length (in cm)
4. petal_width (in cm)
5. class

In [10]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
columns = ["sepal_length (in cm)", "sepal_width (in cm)", "petal_length (in cm)", "petal_width (in cm)", "class"]
file = Downloads.download(url)
df = CSV.read(file, DataFrame, header = columns)

first(df, 3)

3×5 DataFrame
 Row │ sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  petal_ ⋯
     │ Float64               Float64              Float64               Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │                  5.1                  3.5                   1.4         ⋯
   2 │                  4.9                  3.0                   1.4
   3 │                  4.7                  3.2                   1.3
                                                               2 columns omitted

### Step 4.  Is there any missing value in the dataframe?

In [11]:
for col in eachcol(df)
    println(any(ismissing.(col)))
end

false
false
false
false

false

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

### Step 7. Good, now lets substitute the NaN values to 1.0

In [17]:
for i in 10:29
    df[i, "petal_length (in cm)"] = 1.0
end

### Step 8. Now let's delete the column class

In [ ]:
df = df[!, Not(["class"])];

### Step 9.  Set the first 3 rows as NaN

### Step 10.  Delete the rows that have NaN

In [19]:
df = dropmissing(df)
first(df, 3)

3×4 DataFrame
 Row │ sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)  petal_ ⋯
     │ Float64               Float64              Float64               Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │                  5.1                  3.5                   1.4         ⋯
   2 │                  4.9                  3.0                   1.4
   3 │                  4.7                  3.2                   1.3
                                                                1 column omitted

### Step 11. Reset the index so it begins with 0 again

### BONUS: Create your own question and answer it.